@import "./src/GlobalStyles/vars.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Exo 2";
    font-weight: 300;
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #212529;
    overflow-y: hidden;
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.first-letter:first-letter {
    text-transform: uppercase;
}